
<div class="container-fluid text-center">
<h1>About Page</h1>

<p>
We are The Fusion Culture. We are two sisters who grew up as Latin Americans in Texas. 
Join us as we chat with others and explore different perspectives on culture, mental wellness,
lifestyle, health, navigating relationships, current events and more! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sit non, pariatur eligendi reprehenderit commodi a earum, nobis impedit. Quo voluptatibus consequuntur aliquid magni at commodi, repudiandae? Animi, asperiores, quis!
</p>

</div>